<div class="apps-card">
  <div class="app-card" *ngFor="let video of videoDetails">
    <div>
      <a href="#">
        <img [src]="video.imageUrl" />
      </a>
      <div class="flex-div">
        <div class="chanel-img">
          <img [src]="video.userProfileLink" />
        </div>
        <div class="vid-info">
          <a href="#">{{ video.title }}</a>
          <div class="content-text">
            <p>{{ video.channelName }}</p>
            <p>{{ video.views }} .{{ video.daysAgo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
