<div class="header">
  <div class="navbar">
    <div class="icon">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="image">
      <img src="./assets/images/youtube-logo.png" height="70px" width="95px" />
    </div>
    <div class="search">
      <input id="s1" placeholder="Search" />
    </div>
    <div class="mic">
      <i class="fa-solid fa-microphone"></i>
    </div>
    <div class="creat">
      <i class="fa-solid fa-video"></i>
    </div>
    <div class="bell">
      <i class="fa-solid fa-bell"></i>
    </div>
    <div class="user">
      <app-dropdown></app-dropdown>
    </div>
  </div>
</div>
