<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
/>
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="left-side">
    <div class="side-wrapper">
      <div class="side-menu">
        <a href="#" class="active"><i class="fa-solid fa-house"></i>HOME</a>
        <a href="#"><i class="fa-solid fa-house"></i>SHORTS</a>
        <a routerLink="subscribe"><i class="fa-solid fa-house"></i>SUBSCRIBE</a>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side-title">You</div>
      <div class="side-menu">
        <a href="#"><i class="fa-solid fa-house"></i>History</a>
        <a href="#"><i class="fa-solid fa-house"></i>Watch Later</a>
        <a href="#"> <i class="fa-solid fa-house"></i>Liked Videos</a>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side-title">Explore</div>

      <div class="side-menu">
        <a href="#" *ngFor="let menuItem of menuItems">
          <i [class]="menuItem.class"></i>{{ menuItem.label }}
        </a>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="main-container">
      <div class="main-header">
        <div class="header-menu">
          <a
            href="#"
            class="main-header-link"
            *ngFor="let menuItem of headerMenuItems"
            [class.active]="menuItem.isActive"
          >
            {{ menuItem.label }}
          </a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content-section">
          <app-postcard></app-postcard>
        </div>
      </div>
    </div>
  </div>
</div>
