<app-navbar></app-navbar>
<div class="wrapper">
  <div class="left-side">
    <div class="side-wrapper">
      <div class="side-title">Setting</div>
      <div class="side-menu">
        <a href="#" class="active">Account</a>
        <a href="#">Notifications</a>
        <a href="#"> Playback and Performance</a>
        <a href="#">Downloads</a>
        <a href="#"> Privacy</a>
        <a href="#">Connected Apps</a>
        <a href="#"> Billing and payments</a>
        <a href="#">Advanced Settings</a>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="main-container">
      <div class="main-header">
        <div class="header-menu">
          <h3>Account</h3>
        </div>
      </div>
    </div>
  </div>
</div>
