a,
a:hover {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-side {
  flex-basis: 240px;
  padding: 25px 10px;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.5s;
}
.side-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.side-menu a {
  color: #f9fafb;
  display: flex;

  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.side-wrapper + .side-wrapper {
  margin-top: 20px;
}

.side-menu a.active {
  color: #000;
  background-color: #e5e5e5;
}

.side-menu a.hover {
  background-color: #999ba5;
}

.side-menu i {
  width: 30px;
  color: white;
  margin-right: 8px;
}

.side-title {
  font-size: 17px;
  color: rgba(113 119 144/78%);
  margin-bottom: 14px;
}

.left-side:hover {
  overflow: auto;
}

.right-side {
  width: 100%;
  overflow: auto;
}

.main-header {
  display: flex;
  align-items: center;

  height: 58px;
  flex-shrink: 0;
}

.main-header .header-menu a {
  padding: 8px 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-header-link {
  color: #f1f1f1;
  border-radius: 50px;
  background-color: #000;
  margin-right: 5px;
  transition: 0.3s;
}

.main-header-link.active.color-change {
  color: black;
}
.main-header-link.active,
.main-header-link:hover {
  color: #f1f1f1;
  background-color: #fff;
  color: black;
}

.main-header .header-menu {
  margin-left: 65px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: #f9fafb;
  padding: 0 40px;
  height: 100%;
  overflow: auto;
  background-color: rgba(16 18 27/48%);
}

.apps-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chanel-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.flex-div {
  display: flex;
  margin-top: 10px;
}

.content-section {
  margin-top: 30px;
}

.content-text {
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  line-height: 1.7em;
  color: #96a1a1;
}
